html,
body {
  margin: 0;
  padding: 0;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.window {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #02010f;
  font-family: 'Comfortaa', cursive;
  width: 380px;
  height: 450px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  padding-bottom: 10px;
  padding-top: 5px;
}

.header {
  display: flex;
  color: white;
  align-self: center;
  padding-left: 1.5rem;
}

.top-container {
  display: flex;
  flex-direction: row;
  padding-left: 1.5rem;
}

.searchbar {
  font-family: 'Tajawal', sans-serif;
  font-size: 17px;
  width: 307px;
  height: 45px;
  padding: 5px;
  border: none;
  outline: none;
}

.icons {
  padding-inline: 2pt;
  color: white;
  transition: 0.5s;
}

.icons:hover {
  color: #b9beca;
}