html,
body {
  margin: 0;
  padding: 0
}

.App {
  display: flex;
  text-align: center;
  background-color: #03021a;
  font-family: 'Nunito', sans-serif;
  width: 400px;
  height: 600px;
  color: white;
}