html,
body {
  margin: 0;
  padding: 0;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.window {
  text-align: center;
  background-color: #02010f;
  font-family: 'Comfortaa', cursive;
  width: 400px;
  height: 500px;
}

.top-container {
  padding-top: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.searchbar {
  font-family: 'Tajawal', sans-serif;
  font-size: medium;
  width: 225px;
  height: 45px;
  padding: 5px;
  border: none;
  outline: none;
}

.icons {
  padding-inline: 2pt;
  color: white;
  transition: 0.5s;
}

.icons:hover {
  color: #b9beca;
}